@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #ffffff;
    --text-color: #000000;
}

[data-theme='dark'] {
    --background-color: #000000;
    --text-color: #ffffff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.formbackbutton, .formsubmitbutton{
    width: 100%;
    display: inline-block;
}
.formbackbutton a, .formsubmitbutton button, .formsubmitbutton a{
    /* float: right; */
    text-decoration: none;
}
.formsubmitbutton a{
    display: inline-block;
    margin-left: 10px;
}
ul.navbar-nav li {
    display: inline-block;
}
ul.navbar-nav {
    display: inline-block;
}
span.navbar-text {
    display: inline-block;
    float: right;
    padding: 0px;
}
.table-responsive {
    width: 100%;
}
.collapse.show {
    visibility: unset;
}
.dropdownCustomLink .caretIcon {
    float: right;
    font-size: 15px;
    margin-top: 2px;
}
.dropdownCustomLink {
    cursor: pointer;
}
.checkoutTotalText{
    color: blue;
    font-weight: bold;
    font-size: 25px;
}
.checkoutTotalTextTitle{
    font-weight: bold;
    font-size: 18px;
    color: green;
}
.checkoutTotalTaxTextTitle{
    font-weight: bold;
    font-size: 18px;
    color: #495057;
}
[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: #0071f8;
    color: #fff;
    font-size: 18px;
    position: absolute;
    padding: 0px 5px;
    bottom: -1.6em;
    left: 0px;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
}

[data-title] {
    position: relative;
}
.sidebar .list-group.list-group-flush .fs-6 {
    font-weight: bold;
}
table.table tbody tr td .row{
    margin: 0px;
}

/* .flex-nowrap .col-md-2 {
    width: 13%;
} */


a.list-group-item.py-2.text-sm.font-medium.leading-5.transition.ease-in-out {
    padding: 10px;
}
.stanlon{
    padding-bottom: 48% !important;
}
.create-button-listing{
    position: absolute;
    right: 20px;
}
.custom-nav-title{
    font-family: 'Be Vietnam Pro', sans-serif;
    text-transform: uppercase !important;
    font-weight: bold;
    color: #495057;
    font-size: 1.25rem;
}
.btn {
    font-weight: 600 !important;
    letter-spacing: 0.1em !important;
    font-size: 13px !important;
}
.btn-primary {
    color: #fff !important;
    background-color: #6e66db !important;
    border-color: #6e66db !important;
}
.btn-check:focus + .btn-primary, .btn-primary:focus, .btn-primary:hover {
    background-color: #686cbb !important;
    border-color: #6266b0 !important;
}
.btn-success {
    -webkit-box-shadow: 0 2px 6px 0 rgba(42, 181, 125, 0.5);
    box-shadow: 0 2px 6px 0 rgba(42, 181, 125, 0.5);
    color: #fff !important;
    background-color: #2ab57d !important;
    border-color: #2ab57d !important;
}
.btn-check:focus + .btn-success, .btn-success:focus, .btn-success:hover {
    background-color: #249a6a !important;
    border-color: #229164 !important;
}
.btn-check:active + .btn-danger, .btn-check:checked + .btn-danger, .btn-danger.active, .btn-danger:active, .show > .btn-danger.dropdown-toggle {
    color: #fff !important;
    background-color: #ca4e4b !important;
    border-color: #be4a47 !important;
}
/* .toggle>.toggle-group>.toggle-off, .toggle>.toggle-group>.toggle-off:hover, .toggle:focus>.toggle-group>.btn, .toggle:hover>.toggle-group>.btn{
    background-color: #ccc;
} */
.toggle{
    height: 34px !important;
    min-width: 115px !important;
    border-radius: 20px !important;
}
.toggle .toggle-handle, .toggle .toggle-handle:hover{
    width: 34px !important;
    padding: 0px;
    border-radius: 100% !important;
    background-color: #fff !important;
    opacity: 1 !important;
}
.toggle>.toggle-group>.toggle-off{
    padding-left: 34px !important;
}
.toggle>.toggle-group>.toggle-on{
    padding-right: 34px !important;
}
.toggle .toggle-off, .toggle .toggle-on {
    font-size: 12px !important;
    font-family: sans-serif;
    padding: 7px;
}
.toggle .toggle-handle{
    margin-right: 34px !important;
    margin-left: 0px !important;
}
.toggle.off .toggle-handle{
    margin-left: 34px !important;
    margin-right: 0px !important;
}
table thead th a{
    text-decoration: none !important;
}
body {
    font-family: 'Be Vietnam Pro', sans-serif !important;
}
.sidebar .list-group.list-group-flush .fs-6 {
    font-weight: 500;
}

.btn-blue {
    -webkit-box-shadow: 0 2px 6px 0 rgba(122, 127, 220, 0.5);
    box-shadow: 0 2px 6px 0 rgba(122, 127, 220, 0.5);
}
.btn-blue {
    color: #fff !important;
    background-color: #3139d4 !important;
    border-color: #3139d4 !important;
}
.ml-5 {
    margin-left: 5px !important;
}
.form-control:hover {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.list-group-item.active, .list-group-item.active:hover {
    background-color: #475057cc !important;
    border-color: #475057cc !important;
}
.list-group-item:hover {
    background-color: #4750574d !important;
    border-color: #4750574d !important;
}
.nav-tabs .nav-link {
    background: #475057cc;
    color: #fff;
    margin-right: 6px;
}
/* .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: #475057cc #475057cc #FFF;
    color: #475057cc;
} */
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: white;
    border-bottom-color: #6a7378;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    border-color: #475057cc #475057cc #475057cc;
    background-color: #ffffffcc;
    color: #475057cc;
    border-bottom-color: #fff;
}
.nav-tabs {
    border-bottom: var(--bs-nav-tabs-border-width) solid #475057cc;
}
#nav-tab-plus, #nav-tab-minus{
    background: #fff;
    color: #475057cc;
    border-color: #fff #fff #475057cc;
}
#nav-tab-plus:hover{
    border-color: #475057cc #475057cc #FFF;
}
#nav-tab-minus:hover{
    border-color: #475057cc #475057cc #FFF;
}
div#screen-data .items-center, div#screen-data .items-center input, [type='checkbox'], [type='radio'] {
    cursor: pointer;
}
a {
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
}
.login-img{
    background: url('/auth-bg3.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.allpage-img{
    background: url('/allpagebg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
input[type=checkbox][disabled]{
    cursor: not-allowed;
}
.modal-header .btn-close {
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e);
}

.home-title {
    text-align: right;
    padding: 0px;
    width: 12%;
}
.home-value{
    width: 78%;
}
@media (max-width: 767px) {
    .home-value {
        width: 70%;
    }
    .home-title {
        width: 30%;
    }
    .create-button-listing {
        position: unset;
    }
}
